<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | 라이언그램</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% block css %}{% endblock %}
</head>
<body class="container">
    
        {% if request.user.is_authenticated %}
            <span class="#">{{ request.user.username }} 님 </span>
        {% else %}
            <span class="#">Guest 모드 </span>
        {% endif %}
    
<div>
    {% block content %}
    {% endblock %}
</div>
<div>
    <nav>
        <ul class="bottom-menu-group">
            <li>
                <a href="{% url 'index' %}">
                    <img src="{% static 'icons/home_outlined_black_36dp.svg' %}" alt="홈">
                </a>
            </li>
            <li>
                <a>
                    <img src="{% static 'icons/search_outlined_black_36dp.svg' %}" alt="검색">
                </a>
            </li>
            <li>
                <a href="{% url 'posts:post-create' %}">
                    <img src="{% static 'icons/add_box_outlined_black_36dp.svg' %}" alt="글쓰기">
                </a>
            </li>
            <li>
                <a href="{% url 'index' %}">
                    <img src="{% static 'icons/favorite_outlined_black_36dp.svg' %}" alt="좋아요">
                </a>
            </li>
            <li>
                <a href="{% url 'index' %}">
                    <img src="{% static 'icons/account_circle_outlined_black_36dp.svg' %}" alt="내 페이지">
                </a>
            </li>
        </ul>
    </nav>
</div>

{% block script %}{% endblock %}
</body>
</html>